@font-face {
font-family: 'Diavlo Bold Regular';
font-style: normal;
font-weight: normal;
src: local('Diavlo Bold Regular'), url('Diavlo_BOLD_II_37.woff') format('woff');
}

h1 {
  font-family: 'Diavlo Bold Regular';
  font-weight: 200;
  color: #6D213C;
}